[submodule "eBike-backend-laravel"]
	path = eBike-backend-laravel
	url = https://github.com/DMoest/eBike-backend-laravel.git
[submodule "eBike-frontend-react"]
	path = eBike-frontend-react
	url = https://github.com/DMoest/eBike-frontend-react.git
[submodule "eBike-webbapp-react"]
	path = eBike-webbapp-react
	url = https://github.com/DMoest/eBike-webbapp-react.git
[submodule "eBike-controlsys-python"]
	path = eBike-controlsys-python
	url = https://github.com/DMoest/eBike-controlsys-python.git
[submodule "eBike-REST-API"]
	path = eBike-REST-API
	url = https://github.com/DMoest/eBike-REST-API.git
